#best-flies {
margin-left:auto; 
margin-right:auto;
text-align: center;
border: 1px solid gray;
padding: 15px 5 5 5;
font: normal 1em verdana, tahoma, arial, sans-serif;
text-transform: uppercase;
}

 
h1 {
  padding: 20px 0 0 0;
  font: normal 1.4em verdana, tahoma, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #acaf2c;
  background: inherit;
  text-align: center;
}